<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Alterar Senha do Usuário
    <small>Gestão do Site</small>
  </h1>
  
</section>

<!-- Main content -->
<section class="content">
	<div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"></h3>
        </div>
  <!-- Your Page Content Here -->
  <!-- form start -->
        <form role="form" action="/config/users/change-password" method="post" enctype="multipart/form-data">
          <div class="box-body">
            <div class="form-group">
              <label for="oldpassword">Senha actual</label>
              <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="">
            </div>
            <div class="form-group">
               <label for="newpassword">Nova Senha</label>
               <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="">
            </div>
            
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Concluir</button>
          </div>
        </form>
     </div>
    </div>
   </div>
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->