<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"> Compor mensagem </h1>
          </div><!-- /.col -->
          
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

<!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
  	   <div class="col-md-12">
  		<div class="card">
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/config/newsletter/compose" method="post" enctype="multipart/form-data">
          <div class="card-body">
			<div class="form-group">
              <label for="subject">Assunto</label>
              <input type="text" class="form-control" id="subject" name="subject" placeholder="Assunto" required="required">
            </div>
            <div class="form-group">
               <label for="msg">Mensagem</label>
               <textarea id="compose-textarea" class="form-control" name="msg"  style="height:200px" required="required"></textarea>
            </div>
            <div class="form-group">
                <div class="btn btn-default btn-file">
                  <i class="fa fa-paperclip"></i> Carregar imagem...
                  <input type="file" name="img"/>
                </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
  	</div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
<!-- /.content -->
</div>
<!-- /.content-wrapper -->