<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <a href="/config/product/{$num}"><h1 class="m-0 text-dark">Imagens do producto nº {$num}</h1></a>
          </div><!-- /.col -->
          
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

<!-- Main content -->
<div class="content">
      <div class="container-fluid">
        <div class="row">
  	<div class="col-md-12">
  		<div class="card">
            
            <div class="card-header">
              <a href="/config/productimg/add-{$num}" class="btn btn-primary">Adicionar imagem</a>
            </div>

            <div class="card-body no-padding">
              <table class="table table-bordered table-hover dataTable">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Foto</th>
                    <th style="width: 140px">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$product"}
                  <tr>
                    <td>{$value.num}</td>
                    <td>
                      <a href="/config/productimg/img-{$value.num}-{$num}" class="nav nav-link">
                        <img src="/{$value.img}"  class="attachment-img" width="100px"/>
                      </a>
                    </td>
                    <td>
                      <a href="/config/productimg/{$value.num}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
                    </td>
                  </tr>
                  {/loop}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
  	</div>
  </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
</div>
<!-- /.content-wrapper -->