
		
	<section class="container">
		<div class="row">
				<div class="col-md-12 text-center ">
					<div>
						<br>
					   <p> </p>
					   <hr>
					</div>
				</div>	
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				
				<div class="col-sm-12 col-md-12 col-xs-12 padding-right">
					<div class="features_items"><!--features_items-->
						
					    <div class="col-md-12 col-sm-12 col-xs-12">
							<div class="recommended_items"><!--recommended_items-->
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
									<div class="col-sm-12 col-md-12 col-xs-12">
										<div class="thumbnail">			
													   <img src="/{$novidade.img}">	
										</div>
									</div>	
								</div>
								
								
							</div>
							 			
						</div>
			    </div><!--/recommended_items-->
					
					</div>	
					<div class="col-md-12 col-sm-12 col-xs-12">
						        <h3>{$novidade.description}</h3>
						        <p>{$novidade.note}</p>
						        
					</div>
					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>
      
	<section>
		<div class="container">
			<div class="row">
				<hr>
				<script>
      						(function(d, s, id) { 
							var js, fjs = d.getElementsByTagName(s)[0]; 
							if (d.getElementById(id)) return; js = d.createElement(s); 
							js.id = id; js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0"; fjs.parentNode.insertBefore(js, fjs); 
							}(document, 'script', 'facebook-jssdk'));
                </script> <!-- Your share button code --> 
				<div class="col-md-12">
					<div class="features_items"><!--features_items-->
						
					</div><!--features_items-->
					<ul class="pagination">
							<!--{loop="$pages"}
								<li><a href="{$value.href}">{$value.text}</a></li>
							{/loop}-->
						</ul>
				</div>
			</div>
		</div>
	</section>