<section >
		<div class="container">
			<div class="tygh-content clearfix">
        		<div class="container-fluid  content-grid">
                                            
               
                                        
                <div class="container-fluid-row">
					<div class="row-fluid ">        
						<div >
                    		<div >
                    
                <h1>
                    
                                            <span>Pagamentos e Entregas</span>
                </h1>
                                            <p>Para as encomendas nós aplicamos o nosso tarifário de entrega a partir de 1.500,00 AOA (Kwanzas).</p>
                                        

                
            

                <div ><div >
    
    <div>
    	<h1 class="ty-main-title"><span >Entregas</span></h1>
<div class="row">
	<div class="col-md-4">
		<div >
		<div ><img src="/img/entrega.png" width="125"><br></div>
		<div >O Valor a ser pago e o tempo da entrega da sua encomenda será determinado depois da confirmação da encomenda.<br><br></div>
		</div>
	</div>

	<div class="col-md-4">
		<div >
		<div class="ty-list-image"><img src="/img/calc.png" width="125"><br></span></div>
		<div>O Valor a ser pago é calculado de acordo com o peso e o destino da sua encomenda.<br><br></div>
		</div>
	</div>

	<div class="col-md-4">
		<div >
		<div ><span ><img src="/img/marker.png" width="125"><br></span></div>
		<div ><span ><span >Nós no momento, entregamos encomendas apenas em Luanda.</span><br><br></span></div>
		</div>
	</div>


	<div class="col-md-12">
	<h2><span>Métodos de Pagamento</span></h2>
	</div>
	</div>

	<div>



	<div class="col-md-4">
	<div >
	<div><span ><img src="/img/transferir.png" width="125"><br></span></div>
	<div ><span >O principal método de pagamento é por tranferência bancaria.</div>
	</div>
	</div>

	<div class="col-md-4">
	<div >
	<div ><span ><img src="/img/factura.png" width="125"><br></span></div>
	<div ><span >Após conclusão da compra o Uzomashop irá emitir uma factura e enviar para o seu email.<br><br></span></div>
	</div>
	</div>

	<div class="col-md-4">
	<div >
	<div ><span ><img src="/img/cartao.png" width="125"><br></span></div>
	<div ><span >Transferência bancaria é a forma mais conveniente de fazer o pagamento no Uzomashop. <br></span></div>
	</div>
	</div>

</div>
<div style=""><span>&nbsp;</span></div></div>
    

</div>

    


    </div>
    </div>
            </div>
</div>
    </div>
    
    </div>

</div>
		</div>
		</form>
	</section><!--/#do_action-->