    
<section class="container">
    <div class="row">
          <div class="col-md-8 col-sm-12 col-xs-12">
            <h3 class="text-center">Termos e Condições</h3>
                <p align="justify">
Os Termos e Condições de Utilização do UZOMASHOP definem as condições em que o serviço é oferecido e enunciam as regras de uso dos utilizadores ou empresas que façam uso do serviço.
                </p>
                <p align="justify">
Apenas deve fazer uso do serviço oferecido pelo UZOMASHOP quem concorda totalmente com estas condições. Caso discorde com alguns dos pontos aqui enunciados, não deve utilizar esta plataforma.
                </p>
            <h4>O Serviço oferecido</h4>
                <p align="justify">
O UZOMASHOP é uma plataforma online mantida sob os direitos da empresa JRN Squeira, que tem como objectivo facilitar as transações de artigos e bens de diversos tipos.
                </p>
                <p align="justify">
O UZOMASHOP controla diretamente os artigos publicados e participa nos negócios realizados.
                </p>
                <p align="justify">
O UZOMASHOP salvaguarda a qualidade, legitimidade e segurança dos artigos publicados. É da nossa responsabilidade garantir a integridade da informação publicada em cada artigo.
                </p>
                <p align="justify">
É essencial que os consumidores finais procedam com as devidas cautelas e seguindo os princípios básicos de qualquer aquisição online.
                </p>
            <h4>Acesso ao serviço do UZOMASHOP</h4>
                
                <p align="justify">
Todos os utilizadores que cumpram os princípios definidos nestes Termos e Condições do Serviço podem aceder a plataforma.
                </p>
                <p align="justify">
Para cada utilizador lhe é  reservado o direito de ter  apenas uma conta. O UZOMASHOP reserva-se o direito de cancelar qualquer registo duplicado efectuado pela mesma entidade, removendo assim qualquer informação associada ao mesmo, sem emitir qualquer aviso prévio, tal como fica aqui enunciado.
                </p>
            <h4>Termos de Utilização</h4>
            
                <p align="justify">
O UZOMASHOP se responsabiliza pelo conteúdo de qualquer artigo publicado, fontes ou ligações presentes em qualquer um deles.
                </p>
                <p align="justify">
O UZOMASHOP tem a responsabilidade de manter a plataforma a funcionar em permanência, devendo ainda comunicar caso haja suspensão temporária do serviço, relacionadas com manutenção, questões técnicas ou fatores externos.
                </p>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
             
          </div>
    </div>
</section>
